<template name="directory">
  <div class="ui accordion">
    <div class="title">
      <i id="menuIcon" class="dropdown icon"></i>{{name}}
      <div class="ui dropdown">
        <i class="sidebar icon"></i>
        <div class="menu">
          <div class="item" id="newFile">New file</div>
          <div class="item" id="newDir">New folder</div>
        </div>
      </div>

    </div>
    <div class="content">
      <p class="transition hidden">
        <div class="ui relaxed divided list">
          {{#each directories dirList}}
            {{> directory}}
          {{/each}}

          {{#each files fileList}}
            {{> file}}
          {{/each}}
        </div>
      </p>
    </div>
  </div>


</template>
