<template name="directory">
  <div class="ui accordion tree {{_id}}">
    <div class="title">
      <i id="" class="dropdown icon menuIcon"></i>{{name}}
      <div class="ui dropdown {{_id}}">
        <i class="sidebar icon"></i>
        <div class="menu">
          <div class="item {{_id}}" id="newFile">New file</div>
          <div class="item {{_id}}" id="newDir">New folder</div>
        </div>
      </div>

    </div>
    <div class="content">
      <p class="transition shown">
        <div class="ui relaxed divided list">
          {{#each directories dirList}}
            {{> directory}}
          {{/each}}

          {{#each files fileList}}
            {{> file}}
          {{/each}}
        </div>
      </p>
    </div>
  </div>


</template>
